/*Primary
   #C2D0E1
   #95ADCC
   #597FAF
   #415D80
   #293A50
Neutral
   #8d93A2
   #676F84
   #2F3A56
   #232B3F
   #161B28
Greys
   #90949A
   #71757D
   #525761
   #3C4047
   #444850
Accents
   Warning
      #E5BE7E
      #D99E3E
      #d18914
      #99640f
      #ac7111
  Positive
      #819FC5      
      #6187B7
      #527cb0
      #446691
      #3C5B81
   Black
      #616059
      #4E4C44
      #27251b
      #201F17
      #1D1B14
Otros
   #27251b
   #d5dadf
   #90aac3
   #525761
   #a0c4de
   #7ca6dc */